<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#!/apis" class="breadcrumb-item active">
                <i class="fa fa-link"></i> Apis
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" ng-show="api.id">Editar API '{{api.name}}'</li>
        <li class="breadcrumb-item active" aria-current="page" ng-hide="api.id">Nova API</li>
    </ol>
</nav>
<div class="main">
    <div class="container">
        <form name="apiForm">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="api.name" ng-required="true" name="name" placeholder="Nome" ng-minlength="3"
                        ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label">Descrição:</label>
                <div class="col-sm-6">
                    <textarea class="form-control" ng-model="api.description" name="description" placeholder="Descrição"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="baseUrl" class="col-sm-2 col-form-label">URL:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="api.baseUrl" ng-required="true" name="baseUrl" placeholder="URL" ng-minlength="3"
                        ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="authentication" class="col-sm-2 col-form-label">Autenticação:</label>
                <div class="col-sm-6 border" style="padding-bottom: 10px; padding-top: 10px;">
                    <label class="control control-radio">
                        Atutenticação por Usuário e Senha
                        <input type="radio" id="user" ng-model="api.authentication" value="user">
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        Token fixo
                        <input type="radio" id="token" ng-model="api.authentication" value="token">
                        <div class="control_indicator"></div>
                    </label>
                </div>
            </div>
            <div class="form-group row" ng-show="api.authentication === 'user'">
                <label for="user" class="col-sm-2 col-form-label">Usuário:</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="api.user" name="user" placeholder="Usuário" />
                </div>
                <label for="password" class="col-sm-2 col-form-label">Senha:</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" ng-model="api.password" name="password" placeholder="Senha" />
                </div>
            </div>
            <div class="form-group row">
                <label for="authentication" class="col-sm-2 col-form-label">Cabeçalhos:</label>
                <div class="col-sm-6 border" style="padding-bottom: 10px; padding-top: 10px;">
                    <div class="form-group row" ng-repeat="header in api.headers">
                        <div class="col-sm-6">KEY</div>
                        <div class="col-sm-6">VALUE</div>
                    </div>
                </div>
            </div>
            <div class="form-group row" ng-show="api.authentication === 'token'">
                <label for="token" class="col-sm-2 col-form-label">Token:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="api.token" name="token" placeholder="Token" />
                </div>
            </div>
        </form>

        <div ng-show="apiForm.name.$dirty" ng-messages="apiForm.name.$error">
            <div ng-message="required" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Por favor, preencha o campo nome!
            </div>
            <div ng-message="minlength" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                O campo nome deve ter no mínimo 3 caracteres.
            </div>
        </div>

        
        <hr/>
        <div class="col-sm-6">
            <button ng-show="{{api.id}}" class="btn btn-primary" ng-click="editApi(api)" ng-disabled="apiForm.$invalid">Salvar</button>
            <button ng-hide="{{api.id}}" class="btn btn-primary" ng-click="addApi(api)" ng-disabled="apiForm.$invalid">Salvar</button>
            <a class="btn btn-secondary" href="#!apis">Voltar</a>
        </div>
        <br>
        <div ng-show="api.id" class="alert alert-primary" role="alert">
            API criada em '{{api.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}' por '{{api.createdBy}}'<span ng-if="api.createdAt !== api.updatedAt"> e atualizada pela última vez em '{{api.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}' por '{{api.updatedBy}}'</span>.
        </div>
    </div>
</div>