<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#!/contacts" class="breadcrumb-item active">
                <i class="fa fa-address-book"></i> Agenda Pública
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" ng-show="contact.id">Editar Contato '{{contact.name}}'</li>
        <li class="breadcrumb-item active" aria-current="page" ng-hide="contact.id">Novo Contato</li>
    </ol>
</nav>
<div class="main">
    <div class="container">
        <form name="contactForm">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="contact.name" ng-required="true" name="name" placeholder="Nome" ng-minlength="3"
                        ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="company" class="col-sm-2 col-form-label">Empresa:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="contact.company" name="company" placeholder="Empresa" />
                </div>
                <label for="department" class="col-sm-2 col-form-label">Setor:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="contact.department" name="department" placeholder="Setor" />
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label">Telefone:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="contact.phone" name="phone" placeholder="Telefone" />
                </div>
                <label for="email" class="col-sm-2 col-form-label">E-Mail:</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" ng-model="contact.email" name="email" placeholder="E-Mail" />
                </div>
            </div>
        </form>
        
        <div ng-show="contactForm.name.$dirty" ng-messages="contactForm.name.$error">
            <div ng-message="required" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Por favor, preencha o campo nome!
            </div>
            <div ng-message="minlength" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                O campo nome deve ter no mínimo 3 caracteres.
            </div>
        </div>
        <hr/>
        <div class="col-sm-6">
            <button ng-show="{{contact.id}}" class="btn btn-primary" ng-click="editContact(contact)" ng-disabled="contactForm.$invalid">Salvar</button>
            <button ng-hide="{{contact.id}}" class="btn btn-primary" ng-click="addContact(contact)" ng-disabled="contactForm.$invalid">Salvar</button>
            <a class="btn btn-secondary" href="#!contacts">Voltar</a>
        </div>
        <br>
        <div ng-show="contact.id" class="alert alert-primary" role="alert">
            Contato criado em '{{contact.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}' por '{{contact.createdBy}}'<span ng-if="contact.createdAt !== contact.updatedAt"> e atualizado pela última vez em '{{contact.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}' por '{{contact.updatedBy}}'</span>.
        </div>
    </div>
</div>