<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#!/internalRoutes" class="breadcrumb-item active">
                    <i class="fa fa-project-diagram"></i>Rotas Internas
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" ng-show="internalRoute.id">Editar Rota '{{internalRoute.name}}'</li>
            <li class="breadcrumb-item active" aria-current="page" ng-hide="internalRoute.id">Nova Rota</li>
        </ol>
    </nav>
    <div class="main">
        <div class="container">
            <form name="internalRouteForm">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Nome:</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" ng-model="internalRoute.name" ng-required="true" name="name" placeholder="Nome" ng-minlength="3"
                            ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label">Descrição:</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" ng-model="internalRoute.description" name="description" placeholder="Descrição"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 border">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="15%">Máscara</th>
                                    <th width="10%">Remover</th>
                                    <th width="10%">Adicionar</th>
                                    <th width="25%">Tipo Destino</th>
                                    <th>Destino</th>
                                    <th width="10%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="detail in internalRoute.internalRoutesDetails">
                                    <td><input class="form-control" type="text" id="mask" name="mask" ng-model="detail.mask"/></td>
                                    <td><input class="form-control" type="text" id="remove" name="remove" ng-model="detail.remove"/></td>
                                    <td><input class="form-control" type="text" id="add" name="add" ng-model="detail.add"/></td>
                                    <td>
                                        <select class="form-control" ng-model="detail.destinationType" name="destinationType" ng-change="emptyDestination(detail)">
                                            <option value="">Selecione uma opção</option>
                                            <option value="queue">Fila</option>
                                            <option value="peer">Ramal</option>
                                            <option value="external">Telefone</option>
                                            <option value="ivr">URA</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div ng-if="detail.destinationType === 'peer'">
                                            <select class="form-control" ng-model="detail.destination" id="detail.destination" name="destinationPeer">
                                                <option value="">Selecione um ramal</option>
                                                <option ng-repeat="peer in peers" ng-value="peer.id">{{peer.username}} - {{peer.name}}</option>
                                            </select>
                                        </div>
                                        <div ng-if="detail.destinationType === 'queue'">
                                            <select class="form-control" ng-model="detail.destination" id="detail.destination" name="destinationQueue">
                                                <option value="">Selecione uma fila</option>
                                                <option ng-repeat="queue in queues" ng-value="queue.id">{{queue.name}}</option>
                                            </select>
                                        </div>
                                        <div ng-if="detail.destinationType === 'external'">
                                            <input class="form-control" type="text" ng-model="detail.destination" id="detail.destination" name="destinationExternal" placeholder="Telefone" />
                                        </div>
                                        <div ng-if="detail.destinationType === 'ivr'">
                                            <select class="form-control" ng-model="detail.destination" id="detail.destination" name="destinationIvr">
                                                <option value="">Selecione uma URA</option>
                                                <option ng-repeat="ivr in ivrs" ng-value="ivr.id">{{ivr.name}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm" ng-click="addDetail(detail)"><i class="fa fa-plus"></i></button>
                                        <button type="button" class="btn btn-danger btn-sm" ng-click="removeDetail(detail)" ng-hide="internalRoute.internalRoutesDetails.length === 1"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
            
            <div ng-show="internalRouteForm.name.$dirty" ng-messages="internalRouteForm.name.$error">
                <div ng-message="required" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Por favor, preencha o campo nome!
                </div>
                <div ng-message="minlength" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    O campo nome deve ter no mínimo 3 caracteres.
                </div>
            </div>

            <hr/>
            <div class="col-sm-6">
                <button ng-show="{{internalRoute.id}}" class="btn btn-primary" ng-click="editInternalRoute(internalRoute)" ng-disabled="internalRouteForm.$invalid">Salvar</button>
                <button ng-hide="{{internalRoute.id}}" class="btn btn-primary" ng-click="addInternalRoute(internalRoute)" ng-disabled="internalRouteForm.$invalid">Salvar</button>
                <a class="btn btn-secondary" href="#!internalRoutes">Voltar</a>
            </div>
            <br>
            <div ng-show="internalRoute.id" class="alert alert-primary" role="alert">
                Rota criada em '{{internalRoute.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}' por '{{internalRoute.createdBy}}'<span ng-if="internalRoute.createdAt !== internalRoute.updatedAt"> e atualizada pela última vez em '{{internalRoute.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}' por '{{internalRoute.updatedBy}}'</span>.
            </div>
        </div>
    </div>