<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#!/mohs" class="breadcrumb-item active">
                <i class="fa fa-music"></i> Músicas de Espera
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" ng-show="moh.id">Editar Música de Espera '{{moh.name}}'</li>
        <li class="breadcrumb-item active" aria-current="page" ng-hide="moh.id">Nova Música de Espera</li>
    </ol>
</nav>
<div class="main">
    <div class="container">
        <form name="mohForm" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" ng-model="moh.name" ng-required="true" name="name" placeholder="Nome" ng-minlength="3"
                        ng-model-options="{updateOn: 'default blur', debounce:{default: 1000, blur: 0}}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label">Descrição:</label>
                <div class="col-sm-6">
                    <textarea class="form-control" ng-model="moh.description" name="description" placeholder="Descrição"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="audio" class="col-sm-2 col-form-label">Audio:</label>
                <div class="col-sm-6">
                    <input type="file" accept="audio/WAV, audio/MP3" file-model="currentFile" class="form-control" id="currentFile"/>
                </div>
                <div class="col-sm-2">
                    <button ng-click="uploadFile(currentFile, moh)" class="btn btn-primary btn-sm" ng-disabled="audioError || !currentFile || mohForm.$invalid">Upload</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="audio" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-6">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" ng-show="audioError">
                        Arquivo não suportado. Utilize WAV ou MP3.
                    </div>
                    <div class="progress">
                        <div ng-show="fileUploadProgress" class="progress-bar progress-bar-striped" role="progressbar" ng-style="myStyle" aria-valuenow="{{fileUploadProgress}}" aria-valuemin="0" aria-valuemax="100">{{fileUploadProgress}}%</div>
                    </div>
                </div>
            </div>
            <div class="form-group row" >
                <label for="audio" class="col-sm-2 col-form-label">Arquivos carregados:</label>
                <div class="col-sm-6" ng-show="!moh.files || moh.files.length === 0">Nenhum arquivo carregado.</div>
                <ul class="list-group col-sm-10" ng-show="moh.files">
                    <li ng-repeat="file in moh.files track by $index" class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="col-sm-5">
                            {{file.name}}
                        </div>
                        <div class="col-sm-5">
                            <audio src="{{baseUrl}}/uploads/mohs/{{moh.id}}/{{file.name}}" preload="none" controls class="link" ng-if="!file.new"></audio>
                            <audio src="{{baseUrl}}/uploads/uploads_tmp/{{file.name}}" preload="none" controls class="link" ng-if="file.new"></audio>
                        </div>
                        <div>
                            <button type="button" class="btn btn-danger btn-sm" ng-click="removeFile(file, moh, $index)" ng-hide="group.conditionGroup.length === 1" title="Excluir"><i class="fa fa-trash"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
        </form>

        <div ng-show="mohForm.name.$dirty" ng-messages="mohForm.name.$error">
            <div ng-message="required" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                Por favor, preencha o campo nome!
            </div>
            <div ng-message="minlength" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                O campo nome deve ter no mínimo 3 caracteres.
            </div>
        </div>

        
        <hr/>
        <div class="col-sm-6">
            <button ng-show="{{moh.id}}" class="btn btn-primary" ng-click="editMoh(moh)" ng-disabled="mohForm.$invalid">Salvar</button>
            <button ng-hide="{{moh.id}}" class="btn btn-primary" ng-click="addMoh(moh)" ng-disabled="mohForm.$invalid">Salvar</button>
            <a class="btn btn-secondary" href="#!mohs">Voltar</a>
        </div>
        <br>
        <div ng-show="moh.id" class="alert alert-primary" role="alert">
            Música de espera criada em '{{moh.createdAt | date:'dd/MM/yyyy HH:mm:ss'}}' por '{{moh.createdBy}}'<span ng-if="moh.createdAt !== moh.updatedAt"> e atualizada pela última vez em '{{moh.updatedAt | date:'dd/MM/yyyy HH:mm:ss'}}' por '{{moh.updatedBy}}'</span>.
        </div>
    </div>
</div>