<a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fa fa-bars" style="color: whitesmoke"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="#">
                <img src="assets/img/logo_native.png" height="30px" />
            </a>
            <div id="close-sidebar">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" ng-src="assets/img/avatars/{{loggedUserAvatar}}" alt="{{loggedUserUsername}}">
            </div>
            <div class="user-info">
                <span class="user-name">
                    <strong>{{loggedUserName}}</strong>
                </span>
                <span class="user-role">{{loggedUserUsername}}</span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="#!/contacts" ng-if="loggedUserPermissions.indexOf('contacts') !== -1">
                        <i class="fa fa-address-book"></i>
                        <span>Agenda Pública</span>
                    </a>
                </li>
                <li>
                    <a href="#!/apis">
                        <i class="fa fa-link"></i>
                        <span>APIs</span>
                    </a>
                </li>
                <li>
                    <a href="#!/meetmes" ng-if="loggedUserPermissions.indexOf('meetmes') !== -1">
                        <i class="fa fa-comments"></i>
                        <span>Conferências</span>
                    </a>
                </li>
                <li>
                    <a href="#!/queues" ng-if="loggedUserPermissions.indexOf('queues') !== -1">
                        <i class="fa fa-user-friends"></i>
                        <span>Filas</span>
                    </a>
                </li>
                <li>
                    <a href="#!/features" ng-if="loggedUserPermissions.indexOf('features') !== -1">
                        <i class="fa fa-briefcase"></i>
                        <span>Funcionalidades</span>
                    </a>
                </li>
                <li class="sidebar-dropdown">
                    <a  ng-if="loggedUserPermissions.indexOf('serviceHours') !== -1">
                        <i class="fa fa-clock"></i>
                        <span>Horários de Atendimento</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="#!/serviceHours">Horários de Atendimento</a>
                            </li>
                            <li>
                                <a href="#!/events">Eventos / Feriados</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#!/mohs" ng-if="loggedUserPermissions.indexOf('mohs') !== -1">
                        <i class="fa fa-music"></i>
                        <span>Músicas de Espera</span>
                    </a>
                </li>
                <li class="sidebar-dropdown" >
                    <a ng-if="loggedUserPermissions.indexOf('routes') !== -1">
                        <i class="fa fa-project-diagram"></i>
                        <span>Plano de Discagem</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="#!/callbacks">Callbacks</a>
                            </li>
                            <li>
                                <a href="#!/inRoutes">Rotas de Entrada</a>
                            </li>
                            <li>
                                <a href="#!/internalRoutes">Rotas Internas</a>
                            </li>
                            <li>
                                <a href="#!/outRoutes">Rotas de Saída</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown"  >
                    <a ng-if="loggedUserPermissions.indexOf('peers') !== -1">
                        <i class="fa fa-phone"></i>
                        <span>Ramais</span>
                    </a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li>
                                <a href="#!/categories">Categorias</a>
                            </li>
                            <li>
                                <a href="#!/costCenters">Centros de Custos</a>
                            </li>
                            <li>
                                <a href="#!/groups">Grupos</a>
                            </li>
                            <li>
                                <a href="#!/profiles">Perfis</a>
                            </li>
                            <li>
                                <a href="#!/peers">Ramais</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#!/customRules" ng-if="loggedUserPermissions.indexOf('customRules') !== -1">
                        <i class="fa fa-code-branch"></i>
                        <span>Regras Customizadas</span>
                    </a>
                </li>
                <li>
                    <a href="#" ng-if="loggedUserPermissions.indexOf('reports') !== -1">
                        <i class="fa fa-chart-line" ></i>
                        <span>Relatórios</span>
                    </a>
                </li>
                <li>
                    <a href="#!/trunks" ng-if="loggedUserPermissions.indexOf('trunks') !== -1">
                        <i class="fa fa-exchange-alt"></i>
                        <span>Troncos</span>
                    </a>
                </li>
                <li>
                    <a href="#!/ivrs" ng-if="loggedUserPermissions.indexOf('ivrs') !== -1">
                        <i class="fa fa-sitemap"></i>
                        <span>URAs</span>
                    </a>
                </li>
                <li>
                    <a href="#!/users" ng-if="loggedUserPermissions.indexOf('users') !== -1">
                        <i class="fa fa-user"></i>
                        <span>Usuários</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
        <div class="dropdown">
            <a href="#" class="" id="dropdownMenuNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">
                <div class="notifications-header">
                    <i class="fa fa-bell"></i>
                    Notifications
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <div class="notification-content">
                        <div class="icon">
                            <i class="fas fa-check text-success border border-success"></i>
                        </div>
                        <div class="content">
                            <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                            <div class="notification-time">
                                6 minutes ago
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item" href="#">
                    <div class="notification-content">
                        <div class="icon">
                            <i class="fas fa-exclamation text-info border border-info"></i>
                        </div>
                        <div class="content">
                            <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                            <div class="notification-time">
                                Today
                            </div>
                        </div>
                    </div>
                </a>
                <a class="dropdown-item" href="#">
                    <div class="notification-content">
                        <div class="icon">
                            <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>
                        </div>
                        <div class="content">
                            <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                            <div class="notification-time">
                                Yesterday
                            </div>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center" href="#">View all notifications</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" class="" id="dropdownMenuMessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">
                <div class="messages-header">
                    <i class="fa fa-envelope"></i>
                    Messages
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <div class="message-content">
                        <div class="pic">
                            <img src="assets/img/user.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="message-title">
                                <strong> Jhon doe</strong>
                            </div>
                            <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                        </div>
                    </div>

                </a>
                <a class="dropdown-item" href="#">
                    <div class="message-content">
                        <div class="pic">
                            <img src="assets/img/user.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="message-title">
                                <strong> Jhon doe</strong>
                            </div>
                            <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                        </div>
                    </div>

                </a>
                <a class="dropdown-item" href="#">
                    <div class="message-content">
                        <div class="pic">
                            <img src="assets/img/user.jpg" alt="">
                        </div>
                        <div class="content">
                            <div class="message-title">
                                <strong> Jhon doe</strong>
                            </div>
                            <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam explicabo</div>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center" href="#">View all messages</a>

            </div>
        </div>
        <div class="dropdown">
            <a href="#" class="" id="dropdownMenuMessage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
                <a class="dropdown-item" href="#">My profile</a>
                <a class="dropdown-item" href="#">Help</a>
                <a class="dropdown-item" href="#">Setting</a>
            </div>
        </div>
        <div>
            <a href="#!/login">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </div>
</nav>